@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    /* Typography */
    --font-family-body: "Inter", sans-serif;
    /* Colours */
    --color-black: #18191a;
    --color-yellow: #fdc700;
    --color-white: #fbfcf8;
    --color-grey: #e3e3e3;
    /* Borders */
    --border-radius-sm: 5px;
    --border-radius-circle: 50%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
    color: var(--color-black);
    background-color: var(--color-white);
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}
