@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "footer.css";
@import "about.css";
@import "header.css";

:root {
    /* Typography */
    --font-family-body: "Inter", sans-serif;
    /* Colours */
    --color-black: #18191a;
    --color-yellow: #fdc700;
    --color-white: #fbfcf8;
    --color-grey: #e3e3e3;
    --color-link-primary: #3482c1;
    /* Borders */
    --border-radius-sm: 5px;
    --border-radius-m: 8px;
    --border-radius-circle: 50%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    color: var(--color-black);
    background-color: var(--color-white);
    max-width: 1400px;
    margin: 1.5em;
}

main {
    margin: 1.5em 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

.logo {
    max-width: 250px;
}

.header__limiter {
    border: none;
    height: 4px;
    background-color: var(--color-yellow);
    margin: 1.5em 0;
}

@media (min-width: 886px) {
    body,
    main {
        margin: 1.5em;
    }
}

@media (min-width: 1450px) {
    body {
        margin: 1.5em auto;
    }
    main {
        margin: 1.5em;
    }
}
