.header__bar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.header-tagline {
    font-size: 1.2rem;
    padding: 0.5rem 0 0;
}

/*Navigation styles*/
.nav__link {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    padding-bottom: 2px;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-yellow);
    transition: width 0.3s;
}

.nav__link:hover::after {
    width: 100%;
}
