/* Card Structure */

.card {
    border-radius: var(--border-radius-sm);
    max-width: 500px;
    background-color: var(--color-grey);
    margin: 2em;
}

.card__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 1em 0 1em;
}

.card__details {
    margin: 1em;
}

.card__links {
    display: flex;
    flex-direction: column;
}

/* Text */
.card__name {
    font-size: 1.5rem;
    padding: 0;
}

.card__role {
    font-weight: 500;
}

.card__link {
    font-weight: 400;
    padding: 0.5em 0;
}

.card__description {
    padding: 0 1.5em 1.5em;
}

/* Links */
.card__link {
    text-decoration: none;
    color: var(--color-black);
}

.card__cta-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card__cta-link:hover,
.card__cta-link:active,
.card__cta-link:focus {
    text-decoration: underline;
}

/* Images */

.card__photo {
    width: 180px;
    margin: 1em 0.5em 0;
    border-radius: var(--border-radius-circle);
}
.card__link-icon {
    width: 40px;
}

.card__icon {
    width: 20px;
}

/* Media Queries */

@media (min-width: 520px) {
    .card__head {
        flex-direction: row;
    }

    .card__name {
        padding: 0.8em 0 0.2em;
    }

    .card__photo {
        margin: 1em 0.5em;
    }

    .card__description {
        padding: 0.5em 1.5em 1.5em;
    }
}
