/* Specific styles for the December 2025 Software Development Tech Finishing School page */

/* BEM-Inspired (we're breaking the rules here) */
/* Custom card styles, add your own below! */
/* Example structure:
.card--your-name {
    background-color: #yourcolor;
    border: 2px solid #yourcolor;
}

.card--your-name .card__name {
    color: #yourcolor;
}

For updating colour of tech/skills
.tech--your-name {
    background-color: #b1ebc0;
}
*/

/* Louise Card styling */
.card--louise {
    background: linear-gradient(135deg, #ebb1dc, #f6d3ec);
}

.tech--louise {
    background-color: #b1ebc0;
}

/* Matt H Card styling */
.card--matt-h {
    background: linear-gradient(135deg, #2a3949 0%, #183d5c 100%);

    .card__link-icon,
    .card__icon {
        fill: var(--color-white);
    }

    .card__name,
    .card__role,
    .card__link,
    .card__description {
        color: var(--color-white);
    }
}

.tech--matt-h {
    background-color: #779dcf;
    color: var(--color-black);
    cursor: default;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(100, 181, 246, 0.4);
    }
}

/* Tymur Card styling */
.card--tymur {
    background: #ef7829;
    /*background: var(--color-yellow);*/
    /*background: linear-gradient(135deg, #f9d423 0%, #ff4e50 100%);*/
    border-style: dashed;
    border-width: 8px;
    border-color: #222034;
    color: #222034;
}

.tech--tymur {
    background-color: #222034;
    color: var(--color-white);
}

/* Yorick Card styling */
.card--yorick {
    background: linear-gradient(
        180deg,
        rgba(50, 193, 224, 1) 0%,
        rgba(25, 191, 98, 1) 100%
    );
}

.card--yorick .card__description {
    font-style: italic;
}

/* Matt Card styling */
.card--matt-n {
    background: linear-gradient(205deg, #4998e2 0%, #9cb9ce 100%);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);

    .card__name,
    .card__role,
    .card__link,
    .card__description {
        color: var(--color-white);
    }

    .card__link-icon,
    .card__icon {
        fill: var(--color-white);
    }
}

.tech--matt-n {
    background-color: #efc845;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.tech--matt-n:hover {
    background-color: #efc845;
    box-shadow: none;
    transform: translateY(-2px);
}

/* Jeremy card styling */
.card--jeremy {
    background: linear-gradient(135deg, #08ef1b, #303733);
    color: rgb(255, 255, 255);
    .card__link-icon,
    .card__icon {
        fill: var(--color-white);
    }

    .card__name,
    .card__role,
    .card__link,
    .card__description {
        color: var(--color-white);
    }
}

.tech--jeremy {
    background-color: #1a1194;
}
