/* Specific styles for the December 2025 Software Development Tech Finishing School page */

/* BEM-Inspired (we're breaking the rules here) */
/* Custom card styles, add your own below! */
/* Example structure:
.card--your-name {
    background-color: #yourcolor;
    border: 2px solid #yourcolor;
}

.card--your-name .card__name {
    color: #yourcolor;
}

For updating colour of tech/skills
.tech--your-name {
    background-color: #b1ebc0;
}
*/

/* Louise Card styling */
.card--louise {
    background: linear-gradient(135deg, #ebb1dc, #f6d3ec);
}

.tech--louise {
    background-color: #b1ebc0;
}

/* Matt H Card styling */
.card--matt-h {
    background: linear-gradient(135deg, #2a3949 0%, #183d5c 100%);

    .card__link-icon,
    .card__icon {
        fill: var(--color-white);
    }

    .card__name,
    .card__role,
    .card__link,
    .card__description {
        color: var(--color-white);
    }
}

.tech--matt-h {
    background-color: #779dcf;
    color: var(--color-black);
    cursor: default;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(100, 181, 246, 0.4);
    }
}
