/* Specific styles for the December 2025 Software Development Tech Finishing School page */

/* BEM-Inspired (we're breaking the rules here) */
/* Custom card styles, add your own below! */
/* Example structure:
.card--your-name {
    background-color: #yourcolor;
    border: 2px solid #yourcolor;
}

.card--your-name .card__name {
    color: #yourcolor;
}

For updating colour of tech/skills
.tech--your-name {
    background-color: #b1ebc0;
}
*/

/* Louise Card styling */
.card--louise {
    background: linear-gradient(135deg, #ebb1dc, #f6d3ec);
}

.tech--louise {
    background-color: #b1ebc0;
}

/* Matt H Card styling */
.card--matt-h {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: 2px solid #764ba2;
}

.card--matt-h .card__name,
.card--matt-h .card__role {
    color: #ffffff;
}

.card--matt-h .card__description {
    color: #f0f0f0;
}

/* Styling for the bootcamp description section */
.bootcamp-description {
    padding: 2.5rem 0;
    margin: 0 auto;
    border-bottom: 4px solid var(--color-yellow);
}
