<!-- TO BE PLACED IN /bootcamps/YOUR BOOTCAMP NAME/START DATE(Eg 2025-10)-->

<!-- Things to change:
HEAD:
    - Change the title to the bootcamp name
    - Change the css link to bootcamps own custom css file, to be place in /css/alumni/YEAR-MO-BOOTCAMP_BRANCH.css
BODY:
    HEADER:
        - Change the title of their bootcamp
        - Change the description of their bootcamp
    MAIN:
        - Change Alumni list title to their bootcamp date
        - Change the data-json-file in alumni-list__cards to their own json file 
        - Add alumni photo src in connect__image if available
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>BOOTCAMP - BRANCH OF BOOTCAMP IF APPLICABLE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="../../../scripts/alumni.js" defer></script>
        <link rel="stylesheet" href="../../../css/global.css" />
        <link rel="stylesheet" href="../../../css/main.css" />
        <!-- ADD CUSTOM CSS FILE FOR BOOTCAMP HERE -->
    </head>
    <body>
        <header>
            <a href="../../../index.html">
                <img
                    class="logo"
                    src="../../../assets/tech-native-logo.png"
                    alt="Technative Logo"
                />
            </a>
            <nav></nav>
            <h1>BOOTCAMP - BRANCH OF BOOTCAMP IF APPLICABLE</h1>
            <p>Alumni</p>
        </header>
        <main>
            <section class="bootcamp-description">
                <p>BOOTCAMP DESCRIPTION GOES HERE</p>
            </section>
            <section class="alumni-list">
                <h2 class="alumni-list__title">
                    Meet the Alumni of MONTH YEAR
                </h2>
                <div
                    id="alumni-list__cards"
                    class="alumni-list__cards grid"
                    data-json-file="./2025-09-tfs.json"
                >
                    <!-- Individual card -->
                    <template id="card">
                        <article class="card">
                            <div class="card__head">
                                <img
                                    src=""
                                    alt="Alumni Photo"
                                    class="card__photo"
                                />
                                <div class="card__details">
                                    <h3 class="card__name"></h3>
                                    <h4 class="card__role"></h4>
                                    <div class="card__links">
                                        <a
                                            href=""
                                            class="card__link card__cta-link"
                                            target="_blank"
                                            >Visit my portfolio
                                            <img
                                                class="card__icon"
                                                src="../../../assets/icons/arrow.svg"
                                        /></a>
                                        <div class="card__social-links">
                                            <a
                                                href=""
                                                class="card__link card__link--linkedin"
                                                target="_blank"
                                            >
                                                <img
                                                    src="../../../assets/icons/linkedin.svg"
                                                    alt="LinkedIn Icon"
                                                    class="card__link-icon"
                                                />
                                            </a>
                                            <a
                                                href=""
                                                class="card__link card__link--github"
                                                target="_blank"
                                            >
                                                <img
                                                    src="../../../assets/icons/github.svg"
                                                    alt="Github Icon"
                                                    class="card__link-icon"
                                                />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card__description"></p>
                            <div class="card__tech-container">
                                <ul class="card__tech">
                                    <!-- Skills added here -->
                                </ul>
                            </div>
                        </article>
                    </template>
                </div>
                <div class="connect__container">
                    <h2 class="connect__heading">Connect with us!</h2>
                    <p class="connect__description">
                        Employers, our alumni will be happy to hear from you -
                        let’s connect!
                    </p>
                    <!-- ALUMNI PHOTO HERE (AS CONNECT__IMAGE) IF AVAILABLE-->
                    <img
                        class="connect__image"
                        alt="The alumni of September 2025 smiling. "
                        src=""
                    />
                </div>
            </section>
        </main>
        <footer>
            <p>
                This website was created by alumni of the 2025 Software
                Development TFS course. The GitHub repository can be found
                <a
                    href="https://github.com/technative-academy/technative-academy.github.io"
                    >here</a
                >.
            </p>
        </footer>
    </body>
</html>
